<%- if @is_player %>
  <div style='margin-bottom: 20px;'>
    It's your turn!
  </div>

  <div class='word'>
    Your word is <%= @word.label %>
  </div>

  <form action='<%= rotate_game_path %>' >
    <input type=submit value='Rotate to next player'>
    <input type=hidden name=id value=<%=params[:id] %>>
  </form>

<%- else %>
  It's not your turn yet.
<% end %>
