- if flash[:new_word_count]
  .row
    .col
      Added #{flash[:new_word_count]} words

.row
  %form{method: :post, action: add_words_words_path}
    = hidden_field_tag :authenticity_token, form_authenticity_token 
    .col
      %label{for: :wordlist}
        Add words, one each on a line
    .col
      %textarea{rows: 10, name: :wordlist}
    .col
      %input{type: :submit}
