@import 'variables';

.hidden {
  display: none !important;
}

textarea {
  display: block;
}

.login-bar {
  margin-bottom: 10px; border-bottom: solid 2px black;
  .row { padding-bottom: 10px; }
  .login-button {
    padding: 15px; background: $green; font-size: 1.2rem;
    a { color: white; }
  }
  .logout {
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
    border-radius: 3px;
    background-color: #EEE;
    a { color: #222; } 
  }
}

button.btn a { color: white; }
.word-announce {
  background-color: #DDD;
  padding: 15px;

  .word {  color: #DD6000;   font-weight: 600; }
}

.player-name {
  color: #6ebce9;
  font-weight: 600;
}

.chat {
  max-width: 90%;
  margin: 0 auto;
  .form-div {
    margin-top: 40px;
    button { margin-top: 40px; }

    #message-body { height: 75px; width: 100%; }
  }

  .chat-box {
    border: black solid 1px;
    max-height: 350px;
    overflow-y: scroll;

    .name { color: blue; font-weight: bold; margin-top: 5px; }
  }
}

#fc_frame.fc-override.fc-widget-normal { right: 115px; }
